{% load static %}
<div id="sidebar">
        <div class="sidebar_section sidebar_section_bg">
            <h3>Popular Products</h3>
            <ul class="sidebar_link_list popular_products">
                {% for product in products %}
                <li>
                    <img src="../static/{{ product.src }}" align="image" height="40px"/>
                    <span class="title"><a href="{{ product.href}}">{{ product.name|upper }}</a></span>
                    <span class="price">${{ product.price }}</span>
                    <span class="clear"></span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>