{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
{{ title|title }}
{% endblock %}
{% block main %}
<div id="tooplate_slider" class="section_content"><span class="frame"></span>
    <div id="carousel">
        <div class="panel">

            <div class="details_wrapper">

                <div class="details">

                    <div class="detail">
                        <h2>Dolor sit amet</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec orci erat. </p>
                        <a href="/productdetail/" title="Read more" class="slider_more">Read more</a>
                    </div><!-- /detail -->

                    <div class="detail">
                        <h2>Lorem ipsum dolor</h2>
                        <p> Donec nec orci vel risus condimentum suscipit dapibus quis justo.</p>
                        <a href="/productdetail/" title="Read more" class="slider_more">Read more</a>
                    </div><!-- /detail -->

                    <div class="detail">
                        <h2>Aenean massa cum sociis</h2>
                        <p> Nam non lectus a nunc fringilla aliquet ac id lectus. </p>
                        <a href="/productdetail/" title="Read more" class="slider_more">Read more</a>
                    </div><!-- /detail -->

                </div><!-- /details -->

            </div><!-- /details_wrapper -->

        </div><!-- /panel -->

        <a href="javascript:void(0);" class="previous" title="Previous">Previous</a>
        <a href="javascript:void(0);" class="next" title="Next">Next</a>

        <div id="slider-image-frame">
            <div class="backgrounds">

                <div class="item item_1">
                    <img src="{% static 'img/slider/01.jpg' %}" alt="image"/>
                </div><!-- /item -->

                <div class="item item_2">
                    <img src="{% static 'img/slider/02.jpg' %}" alt="image"/>
                </div><!-- /item -->

                <div class="item item_3">
                    <img src="{% static 'img/slider/03.jpg' %}" alt="image"/>
                </div><!-- /item -->

            </div><!-- /backgrounds -->
        </div>
    </div>
    <div class="clear"></div>
</div> <!-- END of slider -->
<div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>
    <div class="product">
        <h1>New Products</h1>
        {% for product in products %}
        <div class="product_box">
            <div class="img_box"><span></span>
                <a href="{% url product.href %}"><img src="../static/{{product.src}}" alt="image"/></a>
            </div>
            <h2><a href="{% url product.href %}">{{product.name}}</a></h2>
            <p class="price">${{product.price}}</p>
        </div>
        {% endfor %}
        <!--                    <div class="product_box">-->
        <!--                        <div class="img_box"><span></span>-->
        <!--                            <a href="/productdetail/"><img src="{% static 'img/product/02.jpg' %}" alt="image" /></a>-->
        <!--                      </div>-->
        <!--                        <h2><a href="/productdetail/">Product One</a></h2>-->
        <!--                        <p class="price">$30</p>-->
        <!--                    </div>-->
    </div>

    <div class="clear h20"></div>
    <hr/>
    <div class="clear h10"></div>

    <div class="product">
        <h1>Popular Products</h1>
        {% for product in products %}
        <div class="product_box">
            <div class="img_box"><span></span>
                <a href="{% url product.href %}"><img src="../static/{{product.src}}" alt="image"/></a>
            </div>
            <h2><a href="{% url product.href %}">{{product.name|lower}}</a></h2>
            <p class="price">${{product.price}}</p>
        </div>
        {% endfor %}
        <!--                    <div class="product_box">-->
        <!--                        <div class="img_box"><span></span>-->
        <!--                            <a href="/productdetail/"><img src="{% static 'img/product/02.jpg' %}" alt="image" /></a>-->
        <!--                        </div>-->
        <!--                        <h2><a href="productdetail.html">Product One</a></h2>-->
        <!--                        <p class="price">$30</p>-->
        <!--                    </div>-->
    </div>

    <div class="clear"></div>
</div> <!-- END of main -->
{% endblock %}