{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
{{ title|title }}
{% endblock %}
{% block main %}
<div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>

    <div class="product">
        <div class="col col_2 product_preview">
            <a rel="lightbox" href="../static/img/product/07_l.jpg"><img src="../static/img/product/07_preview.jpg"
                                                                         class=" left" alt="image"/></a>
            <ul class="nobullet">
                <li><a rel="lightbox" href="../static/img/product/07_l.jpg"><img src="../static/img/product/07_s.jpg"
                                                                                 alt="image"/></a></li>
                <li><a rel="lightbox" href="../static/img/product/07_l.jpg"><img src="../static/img/product/07_s.jpg"
                                                                                 alt="image"/></a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="col col_2 product_detail">
            <h1>Product Detail</h1>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt massa odio.</em></p>
            <p>Donec eget tincidunt felis. Pellentesque et mauris sed eros faucibus consequat et et ante. Cras sed arcu
                ut nulla iaculis imperdiet. Donec in est erat, rutrum ullamcorper nisl. Fusce tortor mauris, accumsan
                nec viverra nec, elementum et arcu. Vivamus quis sem nisi. Proin nunc mi, tempor ac dictum sit amet,
                fermentum ac urna. </p>
            <div class="clear h20"></div>
            <p class="price">$30<span>Avaliability: <strong>In stock</strong></span></p>
            <div class="clear h20"></div>
            <p class="add_to_cart">Quantity <input type="text" value="1" style="width: 20px; text-align: right"/></p>
            <a href="/shoppingcart/" class="button left">Add to Cart</a>
        </div>
        <div class="">
        </div>

        <div class="clear"></div>
    </div>

    <hr/>

    <div class="product">
        <h2>Recommended Products</h2>
        <div class="product_box">
            <div class="img_box"><span></span>
                <a href="/productdetail/"><img src="../static/img/product/01.jpg" alt="image"/></a>
            </div>
            <h2><a href="/productdetail/">Product One</a></h2>
            <p class="price">$30</p>
        </div>
        <div class="product_box">
            <div class="img_box"><span></span>
                <a href="productdetail/"><img src="../static/img/product/02.jpg" alt="image"/></a>
            </div>
            <h2><a href="/productdetail/">Product One</a></h2>
            <p class="price">$30</p>
        </div>
        <div class="product_box">
            <div class="img_box"><span></span>
                <a href="/productdetail/"><img src="../static/img/product/03.jpg" alt="image"/></a>
            </div>
            <h2><a href="/productdetail/">Product One</a></h2>
            <p class="price">$30</p>
        </div>
        <div class="product_box">
            <div class="img_box"><span></span>
                <a href="/productdetail/"><img src="../static/img/product/04.jpg" alt="image"/></a>
            </div>
            <h2><a href="/productdetail/">Product One</a></h2>
            <p class="price">$30</p>
        </div>
    </div>


    <div class="clear"></div>
</div> <!-- END of main -->
{% endblock %}