{% extends 'mainapp/base.html' %}
{% load static %}
{% load mainapp_extras %}
{% block title %}
{{ title|title }}
{% endblock %}
{% block main %}
<div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>

    <div id="content">
        <h1>Items in Cart</h1>

        <table width="580px" cols="0" cellspacing="0" cellpadding="5">
            <tr bgcolor="#ddd">
                <th width="220" align="left">Image</th>
                <th width="180" align="left">Description</th>
                <th width="100" align="center">Quantity</th>
                <th width="60" align="right">Price</th>
                <th width="60" align="right">Total</th>
                <th width="90"></th>

            </tr>
            {% for product in products %}

            <tr>
                <td><a href="{% url product.href %}"><img src="../static/{{ product.src }}" alt="image"/></a></td>
                <td><a href="{% url product.href %}">{{ product.name|upper }}</a></td>
                <td align="center"><input type="text" value="{{ product.quantity }}"
                                          style="width: 20px; text-align: right"/></td>
                <td align="right">${{ product.price }}</td>
                <td align="right">${% multiply product.quantity product.price %}</td>
                <td align="center"><a href="#"><img src="{% static 'img/remove.png' %}" alt="remove"/><br/>Remove</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" style="background: url({% static 'img/tooplate_h2.png' %}) repeat" align="right"
                    height="30px">Have
                    you modified your basket? Please click here to <a
                            href="{% url 'shoppingcart' %}"><strong>Update</strong></a>&nbsp;&nbsp;
                </td>
                <td align="right" style="background: url({% static 'img/tooplate_h2.png' %}) repeat; font-weight:bold">
                    Total
                </td>
                <td align="right" style="background: url({% static 'img/tooplate_h2.png' %}) repeat; font-weight:bold">
                    $140
                </td>
                <td style="background: url({% static 'img/tooplate_h2.png' %}) repeat; font-weight:bold"></td>
            </tr>
        </table>
        <p class="right"><a href="checkout.html" class="button">checkout</a></p>
    </div>

    {% include 'mainapp/includes/inc_popular_products.html' %}
    <div class="clear"></div>
</div> <!-- END of main -->
{% endblock %}