<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends 'mainapp/base.html' %}
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block title %}
    <title>Page Shopping Cart</title>
    {% endblock %}
</head>
<body>

<div id="tooplate_wrapper">
	<div id="tooplate_header">
    	<div id="header_top">
        	<div id="site_title"><a href="#">Clothing Template</a></div>
            <div id="tooplate_menu" class="ddsmoothmenu">
                <ul>
                    <li><a href="index.html" class="selected">Home</a></li>
                    <li><a href="products.html">Products</a>
                        <ul>
                            <li><a href="#">Category One</a></li>
                            <li><a href="#">Category Two</a></li>
                            <li><a href="#">Category Three</a></li>
                            <li><a href="#">Category Four</a></li>
                            <li><a href="#">Category Five</a></li>
                      	</ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="faqs.html">FAQs</a></li>
                    <li><a href="contact.html" class="last">Contact</a></li>
                </ul>
                <br style="clear: left" />
            </div> <!-- end of tooplate_menu -->
        </div> <!-- END of header top -->
        
        <div id="header_bottom">
        	<p>
            <a href="shoppingcart.html">My Cart</a> | 
            <a href="checkout.html">Check Out</a> |
        	<span>Item in Cart ( 10 )</span>
            </p>
            
             <div id="tooplate_search">
                <form action="#" method="get">
                  <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
                  <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
                </form>
            </div>
        </div> <!-- END of header bottom -->
    </div> <!-- END of header -->
    {% block main %}
    <div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>
    
    <div id="content">
    	<h1>Items in Cart</h1>
    	
        <table width="580px" cols="0" cellspacing="0" cellpadding="5">
          <tr bgcolor="#ddd">
                <th width="220" align="left">Image </th> 
                <th width="180" align="left">Description </th> 
                <th width="100" align="center">Quantity </th> 
                <th width="60" align="right">Price </th> 
                <th width="60" align="right">Total </th> 
                <th width="90"> </th>
                
          </tr>
            <tr>
                <td><img src="images/product/01.jpg" alt="image" /></td> 
                <td>Etiam in tellus</td> 
                <td align="center"><input type="text" value="1" style="width: 20px; text-align: right" /> </td>
                <td align="right">$100 </td> 
                <td align="right">$100 </td>
                <td align="center"> <a href="#"><img src="images/remove.png" alt="remove" /><br />Remove</a> </td>
            </tr>
            <tr>
                <td><img src="images/product/02.jpg" alt="image" /> </td>
                <td>Hendrerit justo</td> 
                <td align="center"><input type="text" value="1" style="width: 20px; text-align: right" />  </td>
                <td align="right">$40  </td>
                <td align="right">$40 </td>
                <td align="center"> <a href="#"><img src="images/remove.png" alt="remove" /><br />Remove</a>  </td>
            </tr>
            <tr>
                <td colspan="3"style="background: url(images/tooplate_h2.png) repeat" align="right"  height="30px">Have you modified your basket? Please click here to <a href="shoppingcart.html"><strong>Update</strong></a>&nbsp;&nbsp;</td>
                <td align="right" style="background: url(images/tooplate_h2.png) repeat; font-weight:bold"> Total </td>
                <td align="right" style="background: url(images/tooplate_h2.png) repeat; font-weight:bold">$140 </td>
                <td style="background: url(images/tooplate_h2.png) repeat; font-weight:bold"> </td>
            </tr>
        </table>
        <p class="right"><a href="checkout.html" class="button">checkout</a></p>
            
        
		</div>
        
        <div id="sidebar">
			<div class="sidebar_section sidebar_section_bg">
                <h3>Popular Products</h3>
         		<ul class="sidebar_link_list popular_products">
                    <li>
                    	<img src="images/product/01_xs.jpg" align="image" />
                    	<span class="title"><a href="#">Donec tincidunt hendrerit</a></span>
                        <span class="price">$28</span>
                        <span class="clear"></span>
					</li>
                    <li>
                        <img src="images/product/02_xs.jpg" align="image" />
                        <span class="title"><a href="#">Ut ut felis ut nulla</a></span>
						<span class="price">$28</span>
                        <span class="clear"></span>
					</li>
                    <li>
                      	<img src="images/product/03_xs.jpg" align="image" />
                    	<span class="title"><a href="#">Curabitur viverra</a></span>
						<span class="price">$28</span>
                        <span class="clear"></span>
					</li>
                    <li>
						<img src="images/product/04_xs.jpg" align="image" />
                    	<span class="title"><a href="#">Nulla pulvinar felis</a></span>
						<span class="price">$28</span>
                        <span class="clear"></span>
					</li>
                    <li>
                    	<img src="images/product/05_xs.jpg" align="image" />
                    	<span><a href="#">Pellentesque luctus </a></span>
						<span class="price">$28</span>
                        <span class="clear"></span>
					</li>
              </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div> <!-- END of main -->
    {% endblock %}
</div> <!-- END of wrapper -->
</body>
</html>